.contentContainer{
  background-color: #FFF;
}
.aboutContainer{
  min-height: 100vh;
}
.app{
  background:url(/public/Media/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.about-title{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 500 !important;
}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0,0,0,0.25));
}
ul{
  list-style-type: none;
  padding: 10px;
}
li{
  padding: 2px;
}